.graph-viewer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.graph-viewer-api {
  background-color: #222;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.75rem;
  width: 20rem;
}

.graph-viewer-api-text {
  padding-bottom: 0.5rem;
}

.graph-viewer-api-input {
  background-color: #333;
  font-size: 1rem;

  border: none;
  border-radius: 0.3rem;
  outline: none;

  width: 100%;
}

.graph-viewer-api-submit {
  background-color: #333;
  cursor: pointer;
  font-size: 0.9rem;

  border: none;
  border-radius: 0.3rem;
  outline: none;

  margin-top: 0.5rem;
  padding: 0.3rem;
}

.graph-viewer-sidebar {
  display: flex;
  flex-direction: column;
}

@media (max-width: 35rem) {
  .graph-viewer-sidebar {
    display: none;
  }
}

.graph-viewer-input {
  background-color: #333;
  color: #ccc;

  display: flex;
  align-items: center;

  border-radius: 0.3rem 0.3rem 0 0;

  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.3rem;
}

.graph-viewer-input-inner {
  background-color: transparent;
  font-size: 1rem;

  border: none;
  outline: none;

  flex: 1;
  margin-left: 0.1rem;
}

.graph-viewer-body {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.graph-viewer-list {
  background-color: #222;
  border-radius: 0 0 0.3rem 0.3rem;
  margin: 0 0.5rem;
  padding: 0.3rem 0;
  height: auto;
  width: 15rem;
}

.graph-viewer-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.2rem;
}

.graph-viewer-list-item:hover {
  background-color: #444;
}

.graph-viewer-list-item-icon {
  cursor: pointer;
}

.graph-viewer-list-item-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;

  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;
}

.graph-viewer-list-item-icon {
  margin-right: 0.1rem;
}

.graph-viewer-list-empty {
  color: #888;
}
