.node {
  display: flex;
  flex-direction: column;
  margin-top: 0.4rem;
}

.node-content {
  display: flex;
  align-items: top;
}

.node-bullet {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0.5rem 0.5rem 0 0;
}

.node-text {
  flex: 1;

  background-color: transparent;
  color: #ccc;
  font-size: 1rem;

  border: none;
  border-radius: 0.3rem;
  outline: none;
}

.node-text-red {
  background-color: #600;
}

.node-text-yellow {
  background-color: #660;
}

.node-text-green {
  background-color: #060;
}

.node-children {
  border-left: 1px solid #888;
  margin-left: calc(0.2rem - 0.5px);
  padding-left: 1rem;
}
